/* CSS for P3eXBlock */

.p3exblock_block {
    padding-left: 20px;
    text-align: center;

    position: relative;

    border-color: #F9359D;
    border-style: inset;
    border-width: 15px;
    border-right-color: white;
    border-bottom-color: white;
}

.question_block {
    padding: 10px;
    margin: 50px 0px;
    text-align: left;

    border-style: outset;
    border-width: 15px;
    border-color: #00CED1;
    border-left-color: white;
    border-top-color: white;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}
h3 {
    margin-left: 20px;
}
h4 {
    margin-bottom: 0;
}

.question_block>p {
    margin-top: 5px;
}
.user-text {
    font-family: serif;
}

.grade {
    margin-top: 10px;
}
.wrong-solution {
    margin-left: 20px;
}

textarea {
    width: 100%;
    height: 60px;
    resize: vertical;
    box-sizing: border-box;
}
.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    padding: 2px;
    
    width: 100%;
    height: 60px;
    resize: vertical;

}

input[type="number"] {
    width: 30px;
}

#reverse_counter {
    float: right;
    margin: 0;

    border-style: outset;
    border: solid;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: black;
    border-top-color: black;
    background-color: white;
}

/*.reverse_counter-fixed {
    position: fixed;
}*/