<div class="p3exblock_block">
	<div class="phase-container" data-phaseNumber=3>
		<h1>Third step : Correct</h1>

		<p id="reverse_counter">
			Remaining points : 
			<var id="counter_value">30</var>
			/30
		</p>

		% for elt in data:
		<div class="question_block">
			<h3>Evaluation #${loop.index + 1} </h3>

			<h4>Question:</h4>
			<p class="user-text">${elt['text']}</p>
			
			<h4>Proposed solution:</h4>
			<p class="user-text">${elt['clue_answer']}</p>
			<p class="grade">Pedagogical quality of the solution:
				<input class="clue_grade" size="2" min="0" max="5" type="number" value="0" autocomplete="off" />
				<button class="wrong-solution">Propose a better solution</button>
				<!-- <button class="wrong-solution">Better solution? Propose an improved one</button> -->
				<!-- <button class="wrong-solution">Don't you like the proposed solution? Please propose a better one</button> -->
			</p>
			<div class="textarea new-solution" style="display: none;" contentEditable="true"></div>

			<h4>Answer to evaluate :</h4>
			<div class="textarea ans" readonly>${elt['answer_to_evaluate']}</div>
			<p class="grade">Rate this answer :
				<input class="answer_grade counter_input" size="2" min="0" max="5" type="number" value="0" autocomplete="off" />
			</p>
		</div>
		% endfor

		<button id="btn_valid" disabled="true" title="Please distribute all points before validating.">Terminer</button> 
	</div>
</div>