<div class="p3exblock_block">
	<div class="phase-container" data-phaseNumber=2>
		<h1>Second step : Ask</h1>

		<div class="question_block">
			<h3>Your question :</h3>
			<textarea id="q" autocomplete="off" placeholder="Enter a question here..."></textarea>
		</div>
		<div class="question_block">
			<h3>Its answer :</h3>
			<textarea id="r" autocomplete="off" placeholder="... and give the corresponding answer here"></textarea>
		</div>

		<button id="btn_valid">Phase suivante</button> 
	</div>
</div>