<div class="p3exblock_block">
    <div class="phase">
        <h2 class="log-title">First step : Registration for this test</h2>
        <!-- % for q, r , rprof in data: -->
            <div class="question_block">
                <h4>Please enter these informations about you : </h4>
            <br>

                <label>What's your first name ?</label><br>
                <input type="text" name="fname">

            <br>
            <br>
                <label>What's your last name ?</label><br>
                <input type="text" name="lname">

            <br>
            <br>

                <label>What are your actual studies ?</label><br>
                <input type="text" name="stud">
            <br>
            <br>
            
            </div>

            <br>
            <br>

            <input id="btn_valid3" class="btn btn-default btn-lg" type="submit" value="Valider et acceder à l'évaluation">
    </div>
</div>
