<div class="p3exblock_block">
	<div class="phase-container" data-phaseNumber=1>
		<h1>First step : Answer</h1>

		<p id="reverse_counter">
			Remaining points : 
			<var id="counter_value">10</var> 
			/10
		</p>

		% for q in data:
		<div class="question_block">
			<h3>Question #${loop.index + 1} </h3>
			<p> ${q} </p>
			<textarea id="r${loop.index + 1}" autocomplete="off" placeholder="Type your answer here..."></textarea>
			<p class="grade">Rate this question : 
				<input id="note_saver${loop.index + 1}" class="counter_input" size="2" min="0" max="5" type="number" value="0" autocomplete="off" />
			</p>
		</div>
		% endfor
		
		<button id="btn_valid" disabled="true">Phase suivante</button> 
	</div>
</div>