<div class="p3exblock_block">
	<div class="phase-container" data-phaseNumber=3>
		<h1>Third step : Correct</h1>

		<p id="reverse_counter">
			Remaining points : 
			<var id="counter_value">30</var>
			/30
		</p>

		% for elt in data:
		<div class="question_block">
			<h3>Evaluation #${loop.index + 1} </h3>

			<h4>Question:</h4>
			<p>${elt['text']}</p>
			
			<h4 class="solution-title">Solution:</h4>
			<button id="btn_valid3" class="btn btn-default btn-lg">Wrong solution ? Propose another one</button>
			<p>${elt['clue_answer']}</p>

			<h4>Answer to evaluate :</h4>
			<textarea id="r${loop.index + 1}" class="ans" readonly>${elt['answer_to_evaluate']}</textarea>
			<p class="grade">Rate this answer :
				<input class="note_saver counter_input" size="2" min="0" max="5" type="number" value="0" autocomplete="off" />
			</p>
		</div>
		% endfor

		<button id="btn_valid" disabled="true">Terminer</button> 
	</div>
</div>